In [3]:
import numpy as np
import pandas as pd

In [4]:
books = pd.read_csv('data/BX_Books.csv', sep = ";", on_bad_lines = 'skip', encoding ='latin-1')

In [5]:
 books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [6]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','Image-URL-L']]

In [7]:
books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher','Image-URL-L':'image_url'}, inplace = True)

In [8]:
books.head()

,ISBN,title,author,year,publisher,image_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...

In [9]:
users = pd.read_csv('data/BX-Users.csv', sep =';', on_bad_lines = 'skip', encoding ='latin-1')

In [10]:

users.rename(columns={'User-ID':'user_Id','Location':'location','Age':'age'}, inplace= True)

In [11]:
users.head(2)

   user_Id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [12]:
ratings = pd.read_csv('data/BX-Book-Ratings.csv', sep =';', on_bad_lines = 'skip', encoding ='latin-1')

In [13]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace = True)

In [14]:
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [15]:
books.shape

(271379, 6)

In [16]:
users.shape

(278858, 3)

In [17]:
ratings.shape

(1149780, 3)

In [18]:
x=ratings['user_id'].value_counts()>200

In [19]:
y=x[x].index
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       116122,  44296,  28634,  59727,  73681, 274808, 188951,   9856, 155916,
       268622],
      dtype='int64', name='user_id', length=899)

In [20]:
ratings = ratings[ratings['user_id'].isin(y)]
ratings.shape
#Users who just registered and didn't rate any book got removed.

(526356, 3)

In [21]:
ratings_with_books = ratings.merge(books,on = 'ISBN')

In [22]:
ratings_with_books.shape
#Books with no data got removed

(487685, 8)

In [23]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [24]:
number_rating.rename(columns={'rating':'number of ratings'},inplace = True)
number_rating

                                                    title  number of ratings
0        A Light in the Storm: The Civil War Diary of ...                  2
1                                   Always Have Popsicles                  1
2                    Apple Magic (The Collector's series)                  1
3        Beyond IBM: Leadership Marketing and Finance ...                  1
4        Clifford Visita El Hospital (Clifford El Gran...                  1
...                                                   ...                ...
160275  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...                  3
160276                                      Ã?Â?lpiraten.                  1
160277                     Ã?Â?rger mit Produkt X. Roman.                  1
160278                              Ã?Â?stlich der Berge.                  1
160279                                  Ã?Â?thique en toc                  1

[160280 rows x 2 columns]

In [25]:
final_rating = ratings_with_books.merge(number_rating, on = 'title')
final_rating

,user_id,ISBN,rating,title,author,year,publisher,image_url,number of ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley & Sons,http://images.amazon.com/images/P/0026217457.0...,7
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...,1
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt & Co,http://images.amazon.com/images/P/0030615321.0...,1
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...,13
...,...,...,...,...,...,...,...,...,...
487680,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,1
487681,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,1
487682,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann,http://images.amazon.com/images/P/3829021860.0...,1
487683,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN),http://images.amazon.com/images/P/4770019572.0...,1
487684,275970,9626340762,8,Northanger Abbey (Classic Literature with Clas...,Jane Austen,1996,Naxos Audiobooks Ltd.,http://images.amazon.com/images/P/9626340762.0...,2

In [26]:
final_rating.shape

(487685, 9)

In [27]:
final_rating = final_rating[final_rating['number of ratings']>=50]

In [28]:
final_rating.shape

(61853, 9)

In [29]:
final_rating.drop_duplicates(['user_id','title'],inplace = True)
#Duplicates will get removed

/tmp/ipykernel_2281/2150362160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_rating.drop_duplicates(['user_id','title'],inplace = True)

In [30]:
final_rating.shape
#Repeated titles and users get removed

(59850, 9)

In [31]:
book_pivot = final_rating.pivot_table(columns='user_id', index='title', values='rating')

In [32]:
book_pivot.shape
#742 books & 888 users

(742, 888)

In [33]:
book_pivot.fillna(0, inplace= True)

In [34]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot)

In [36]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [37]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm = 'brute')

In [38]:
#Training the model
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [39]:
distances, suggestions = model.kneighbors(book_pivot.iloc[240,:].values.reshape(1,-1), n_neighbors = 6)

In [40]:
distances 
#tells about the distances of the 5 closest recommended books

array([[ 0.        , 62.08059278, 68.05145112, 71.49125821, 72.0624729 ,
        74.16198487]])

In [41]:
suggestions
#tells about the ISBN code of recommended books

array([[240, 238, 237, 241, 239, 688]])

In [42]:
book_pivot.index[240]

'Harry Potter and the Prisoner of Azkaban (Book 3)'

In [43]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Sorcerer's Stone (Book 1)',
       'Harry Potter and the Order of the Phoenix (Book 5)', 'Tough Cookie'],
      dtype='object', name='title')

In [44]:
#finding id using book name
np.where(book_pivot.index == 'No Safe Place')[0][0]

np.int64(372)

In [58]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distances, suggestions = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors = 6)
    
    for i in range(len(suggestions)):
        books = book_pivot.index[suggestions[i]]
        for j in books:
            print(j)

In [59]:
recommend_book('No Safe Place')

No Safe Place
Long After Midnight
Exclusive
Table For Two
Lake Wobegon days
A Civil Action

In [51]:
books_name = book_pivot.index

In [54]:
import pickle
pickle.dump(model, open('artifacts/model.pkl','wb'))
pickle.dump(books_name, open('artifacts/books_name.pkl','wb'))
pickle.dump(final_rating, open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot, open('artifacts/book_pivot.pkl','wb'))